div.payment-profile {
	float:left;
	width:15em;
	border:1px solid #CCC;
	margin:0.5em;
	padding:0.5em;
}
div.stored-credit-card {
	float:right;
	border:1px solid #CCC;
	margin:0.5em;
	padding:0.5em;
	width:25em;
}
div.choose-credit-card {
	/*width:275px;*/
	float:left;
	border:1px solid #ccc;
	padding:0 1em;
	margin:1em;
}

div.enter-new-credit-card {
	/*width:500px;*/
	border:1px solid #CCC;
	padding:1em;
	margin:1em 0;
	float:left;	
}
div.no-credit-cards-stored {
	border:1px solid #CCC;
	padding:1em;
	margin:1em auto;
	width:500px;
}

html.js fieldset.collapsed span#gift-title {
	display:block;
}
.order-review-table span#gift-title {
	display:none;
}

span.cim-card-used {
	background-color:#F5F6BE;
}

img.edit-card {
	vertical-align:middle;
}